:root {
  --ocean: rgb(12, 51, 80);
  --aquaaa: rgb(102, 253, 246);
  --dark-bg: #252525;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

*::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  background: #333;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* mobile first - 320 x 640 */
/* mobile first - 320 x 640 */
/* mobile first - 320 x 640 */
/* mobile first - 320 x 640 */

@media only screen and (max-width: 319px) {
  #content-container {
    display: none;
  }
  
}

@media only screen and (min-width: 320px) and (max-width: 489px) {
  /* Content Placement */
  body {
    font-family: 'Sen', sans-serif;
    background: var(--ocean);
    color: var(--aquaaa);
    min-width: 320px;
    min-height: 640px;
    height: 100vh;
    height: 100dvh;
    margin: auto;
  }
  
  #content-container {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  
  header {
    padding: 1rem;
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 1rem;
    margin-top: 15vh;
  }
  
  main h1 {
    font-size: 2.6rem;
    font-weight: 600;
  }
  
  #extra {
    display: none;
  }
  
  main p {
    font-size: 1.2rem;
    color: white;
    display: block;
    margin-bottom: 5px;
  }
  
  main a {
    background: var(--aquaaa);
    color: var(--ocean);
    border-radius: .2em;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 900;
    width: max-content;
  }

  footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
  }

  footer span {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 1rem;
    font-size: 1.3rem;
  }

  footer img, footer span {
    cursor: pointer;
  }

  /* Image Placement */
  #img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  } 

  #img-1, #img-4, #img-5 {
    display: none;
  }

  #img-2, #img-3, #img-6 {
    position: absolute;
  }

  #img-2 { /* white girl */
    width: 150px;
    top: 11vh;
    right: 2vw;
  }

  #img-3 { /* guy */
    width: 100px;
    top: 14vh;
    left: 12vw;
  }

  #img-6 { /* black girl */
    width: 180px;
    right: 2vw;
    top: 60vh;
  }
}

/* tablet sizes - 490 x 767 */
/* tablet sizes - 490 x 767 */
/* tablet sizes - 490 x 767 */
/* tablet sizes - 490 x 767 */

@media only screen and (min-width: 490px) and (max-width: 767px) {
  /* Content Placement */
  body {
    font-family: 'Sen', sans-serif;
    background: var(--ocean);
    color: var(--aquaaa);
    min-width: 480px;
    max-width: 700px;
    min-height: 640px;
    height: 100vh;
    height: 100dvh;
    margin: auto;
  }
  
  #content-container {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  
  header {
    padding: 2rem;
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    padding: 2rem;
    margin-top: 15vh;
  }
  
  main h1 {
    font-size: 4rem;
    font-weight: 600;
  }

  @media only screen and (min-width: 612px) {
    main h1 {
      font-size: 5.2rem;
    }
  }
  
  #extra {
    display: none;
  }
  
  main p {
    font-size: 1.3rem;
    color: white;
    display: block;
    max-width: 450px;
    margin-bottom: 5px;
  }
  
  main a {
    background: var(--aquaaa);
    color: var(--ocean);
    border-radius: .2em;
    padding: 25px 17px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 900;
    width: max-content;
  }

  footer {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
  }

  footer span {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 1rem;
    font-size: 1.3rem;
  }

  footer img, footer span {
    cursor: pointer;
  }

  /* Image Placement */
  #img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  } 

  #img-1, #img-2, #img-3, #img-4, #img-5, #img-6 {
    position: absolute;
  }

  #img-1 { /* whitest brunette */
    width: 110px;
    top: 30vh;
    right: 5vw;
  }

  #img-2 { /* white girl dark hair */
    width: 150px;
    top: 5vh;
    right: 5vw;
  }

  #img-3 { /* black and white guy */
    width: 120px;
    top: 10vh;
    left: 5vw;
  }

  #img-4 { /* mr beanie */
    width: 210px;
    top: 70vh;
    right: 12vw;
  }

  #img-5 { /* girl blue eyes dark hair */
    top: 21vh;
    left: 49vw;
  }

  #img-6 { /* black girl */
    width: 120px;
    right: 15vw;
    top: 50vh;
  }
}

/* desktop 1280 */
/* desktop 1280 */
/* desktop 1280 */
/* desktop 1280 */

@media only screen and (min-width: 768px) {
  /* Content Placement */
  body {
    border: 1px solid white;
    font-family: 'Sen', sans-serif;
    background: var(--ocean);
    color: var(--aquaaa);
    min-width: 768px;
    max-width: 1160px;
    min-height: 640px;
    height: 100vh;
    height: 100dvh;
    margin: auto;
  }
  
  #content-container {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  
  header {
    padding: 2rem 6rem;
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    padding: 0 6rem;
    margin-top: 5vh;
  }
  
  main h1 {
    font-size: 8rem;
    font-weight: 600;
  }

  @media only screen and (min-width: 760px) {
    main h1 {
      font-size:5em;
    }
  }
  
  #extra {
    display: inline;
  }
  
  main p {
    font-size: 1.3rem;
    color: white;
    display: block;
    max-width: 450px;
    margin-bottom: 5px;
  }
  
  main a {
    background: var(--aquaaa);
    color: var(--ocean);
    border-radius: .2em;
    padding: 25px 17px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 900;
    width: max-content;
  }

  footer {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
  }

  footer span {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 1rem;
    font-size: 1.3rem;
  }

  footer img, footer span {
    cursor: pointer;
  }

  /* Image Placement */
  #img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  } 

  #img-1, #img-2, #img-3, #img-4, #img-5, #img-6 {
    position: absolute;
  }

  #img-1 { /* whitest brunette */
    width: 110px;
    top: 30vh;
    right: 5vw;
  }

  #img-2 { /* white girl dark hair */
    width: 150px;
    top: 5vh;
    right: 5vw;
  }

  #img-3 { /* black and white guy */
    width: 120px;
    top: 10vh;
    left: 5vw;
  }

  #img-4 { /* mr beanie */
    width: 210px;
    top: 70vh;
    right: 12vw;
  }

  #img-5 { /* girl blue eyes dark hair */
    top: 10vh;
    right: 40vw;
  }

  #img-6 { /* black girl */
    width: 120px;
    right: 15vw;
    top: 50vh;
  }
}